@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#root, html, body{
    height: 100vh;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}